<div class="col">
    <div class="custom-card card text-bg-light mb-3">
        <div class="card-body">
            <h4 class="card-title">
                <a
                    href="/groups/{{groupId}}"
                    style="text-decoration: none; font-weight: bold;"
                >
                    {{groupName}}
                </a>
            </h4>
            <p class="card-text">{{groupDescription}}</p>
        </div>
    </div>
</div>