{{> header hide=hide disable_brand=disable_brand}}
<div class="container-fluid">
	<h1 class="mb-3">{{title}}</h1>

	{{#if error}}
		<div class="error-message">
			<p>{{error}}</p>
		</div>
	{{/if}}

	<form method="POST" action="/login" id="login-form">
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="User ID goes here"
				type="text"
				id="userId"
				name="userId"
				value="{{form.userId}}"
				required
				minlength="5"
				maxlength="10"
				pattern="[a-zA-Z0-9]+"
				title="User ID must be 5-10 alphanumeric characters"
			/>
			<label for="userId">User ID</label>
		</div>
		<div class="form-floating w-25 mb-3">
			<input
				class="form-control"
				placeholder="Password goes here"
				type="password"
				id="password"
				name="password"
				required
				minlength="8"
			/>
			<label for="userId">Password</label>
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
	</form>

	<div class="register-link">
		<p>Don't have an account? <a href="/register">Register here</a></p>
	</div>
</div>
{{> bootstrap-js}}