{{>header hide=hide disable_brand=disable_brand}}
<div class="container-fluid">
  <h1>{{title}}</h1>
  <p>{{message}}</p>
  <p><a href="/register">Create a new account</a> or <a href="/login">Sign in</a></p>
</div>
