{{> header}}
<div class="container-fluid">

	{{> back-button route="/home"}}

	<h1>Create a New Group</h1>

	{{#if error}}
		<div class="error">{{error}}</div>
	{{/if}}

	<form method="POST" action="/groups/new" id="login-form">
		<div class="custom-card form-floating mb-3">
			<input
				class="form-control"
				placeholder="Group name goes here"
				id="groupName"
				name="groupName"
				minLength="5"
				maxLength="50"
				required
			/>
			<label for="groupName">Group Name</label>
		</div>
		<div class="custom-card form-floating mb-3">
			<textarea
				class="form-control"
				placeholder="Group name goes here"
				id="groupDescription"
				name="groupDescription"
				maxLength="20000"
				style="resize: both;"
				required
			></textarea>
			<label for="groupDescription">Group Description</label>
		</div>
		<button type="submit">Create Group</button>
	</form>

</div>
{{> custom-card-script initial_width_num=3}}
